/*
-------------------------------------------------
        MAIN BODY
-------------------------------------------------
*/

@media print {
    body {
        font-family: initial;
    }
}

body {
    top: 0;
    margin: 0;
    left: 0;
    padding: 0;
}

.background-img{
    position:relative;
    height:100vh;
    overflow:hidden;
    filter: brightness(50%)
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.container h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h2{
    position:absolute;
    font-size: 34px;
    margin: 0;
    padding: 0;
    font-weight: 450;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-right:208px;
    position: absolute;
    top: 56%;
    left: 42.9832222%;
    transform: translate(-50%, -50%);
}

/*
-------------------------------------------------
        NAVIGATIONAL BAR
-------------------------------------------------
*/

.leftnav {
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    position: fixed;
    overflow: hidden;
    background-color: black;
}

.leftnav img {
    display:block;
    border: 10px solid #333;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.leftnav p {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.pagelinks a:hover .fa-home{
    color:rgb(51, 137, 218);
}

.pagelinks a:hover .fa-user-circle-o{
    color:rgb(51, 137, 218);
}

.pagelinks a:hover .fa-newspaper-o {
    color:rgb(51, 137, 218);
}

.pagelinks a:hover .fa-id-card-o {
    color:rgb(51, 137, 218);
}

.pagelinks a:hover .fa-rss {
    color:rgb(51, 137, 218);
}

.pagelinks a:hover .fa-envelope-o {
    color:rgb(51, 137, 218);
}

.pagelinks button:hover .fa-print {
    color:rgb(51, 137, 218);
}

.pagelinks a {
    display:block;
    color: gray;
    text-align: left;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.pagelinks a:hover{
    color:white;
}

.pagelinks button {
    display:block;
    border:none;
    background:black;
    color: gray;
    text-align: left;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.pagelinks button:hover {
    color:white;
}

.fa-facebook {
    margin-bottom:20px;
    background:rgb(59, 58, 58);
    padding: 10px;
    font-size: 20px;
    width:22px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color:white;
}

.fa-facebook:hover {
    background-color:rgb(51, 137, 218);
}

.fa-instagram {
    margin-bottom:20px;
    background:rgb(59, 58, 58);
    padding: 10px;
    font-size: 20px;
    width:22px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color:white;
}

.fa-instagram:hover {
    background-color:rgb(51, 137, 218);
}

.fa-spotify {
    margin-bottom:20px;
    background:rgb(59, 58, 58);
    padding: 10px;
    font-size: 20px;
    width:22px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color:white;
}

.fa-spotify:hover {
    background-color:rgb(51, 137, 218);
}

.fa-user-circle-o:hover{
    color:rgb(51, 137, 218);
}



/*
-------------------------------------------------
        ABOUT
-------------------------------------------------
*/

.about {
height:100vh;
margin-left:20%;
}

.about h1 {
    height:0px;
    padding:20px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.about h2 {
    margin-top:0px;
    height:0px;
    padding:20px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif; 
}

.about i {
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.abouttext {
    height:40px;
    padding: 20px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.aboutbulletintext {
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    display:flex;
}

.aboutbulletintext p {
    padding-bottom: 10px;
}

.aboutbulletin_lefttext{
    width:50%;
    flex-direction: left;
    height:166px;
}

.aboutbulletin_righttext{
    width:50%;
    flex-direction: right;
    height:166px;
}

.about img {
    padding:20px;
    float:left;
}

.abouttext2 {
    padding:20px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

/*
-------------------------------------------------
        FORM
-------------------------------------------------
*/

.form {
    height:100vh;
    margin-left:20%;
}

.form h1 {
    height:0px;
    padding:20px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.form h2 {
    margin-top:0px;
    height:0px;
    padding:20px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif; 
}

.form label {
    line-height:40px;
}

.form form {
    padding:20px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.form input[type=submit] {
    margin-top:20px;
    padding:20px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
